@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Khula:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Megrim:regular&display=swap);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Roboto;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul li {
	list-style: none;
}

h1 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	font-size: inherit;
	font-family:inherit;
	font-weight: inherit;
}

input {
	font-size: inherit;
	box-sizing: border-box;
}

/*Common*/

.label-name {
	width: 158px;
}

.input {
	width: 537px;
	padding-left: 35px;
	padding-block: 16px;
	outline: 1px solid rgba(0, 0, 0, .4);
}

.input-radio:checked,
.input-radio:not(:checked) {
	position: absolute;
	left: -9999px;
}

.input-radio:checked+label,
.input-radio:not(:checked)+label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 40px;
	line-height: 20px;
	cursor: pointer;
}

.input-radio:checked+label::before,
.input-radio:not(:checked)+label::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 100%;
}

.input-radio:checked+label::after,
.input-radio:not(:checked)+label::after {
	content: '';
	position: absolute;
	transition: all .3s ease;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
}

.input-radio:checked+label::after {
	opacity: 1;
}

.input-radio:not(:checked)+label::after {
	opacity: 0;
}

.form-radio {
	padding-left: 172px;
}

.conditions {
	font-size: 13px;
	color: rgba(0, 0, 0, .6);
}

/*Header*/

.header {
	margin-bottom: 69px;
}

.header__inner {
	position: relative;
	padding-block: 8px 38px;
	padding-inline: 70px 20px;
	margin-right: 70px;
	background: url('images/main/preview.png') center/cover no-repeat;
}

.burger-icon {
	display: flex;
	align-items: center;
	position: relative;
	top: 20px;
	left: 0;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 1;
}

.burger-icon > span {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000;
	transition: all .3s ease;
}

.burger-icon span:nth-child(1) {
	top: 0;
}

.burger-icon span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.burger-icon span:nth-child(3) {
	bottom: 0;
}

.burger-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 900px;
	padding-inline: 38px 27px;
	font-weight: 500;
	font-size: 20px;
	background-color: #F2F2F2;
	z-index: 1;
}

.burger-menu__link {
	text-align: center;
}

.burger-menu__circle-pics {
	display: flex;
	padding-inline: 77px;
	column-gap: 73px;
	margin-bottom: 13px;
}

.burger-menu__square-pics {
	display: flex;
	justify-content: space-between;
	padding: 10px 77px;
	margin-bottom: 16px;
	background-color: #002654;
}

.burger-menu__sale {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #C75454;
}

.burger-menu__sale p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto Serif';
	font-weight: 400;
	font-size: 32px;
	color: #f2f2f2;
}

.burger-menu__category {
	margin-top: 12px;
}

.burger-menu.active {
	display: block;
}

.menu {
	display: flex;
}

.menu__logo {
	max-width: 344px;
	margin-left: 42px;
}

.header__name {
	max-width: 581px;
	margin-top: 40px;
	margin-left: 995px;
	font-family: Roboto, sans-serif;
	font-weight: 600;
	font-size: 180px;
	color: #D8D8D8;
	transform-origin: center;
	transform: rotate(90deg);
	margin-bottom: 310px;
}

.header__address {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 19px;
}

.header__city {
	margin-bottom: 27px;
}

.pagination {
	position: absolute;
	left: 115px;
	bottom: 48px;
	display: flex;
	justify-content: center;
	column-gap: 55px;
	width: 100%;
}

.dot:not(:nth-last-child(2)) {
	margin-right: 42px;
}

.fa-solid {
	color: #fff;
	font-size: 20px;
}

.pagination__dot {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	transition: background-color .3s linear;
}

.pagination__dot:hover {
	background-color: #fff;
}

.selected {
	background-color: rgba(255, 255, 255, 1);
}

.aside {
	position: absolute;
	top: 22px;
	right: 25px;
}

.aside__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 46px;
}

/*About*/

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 99px;
}

.pictures {
	margin-bottom: 103px;
}

.pictures__item:not(:nth-last-of-type(1)) {
	margin-right: 27px;
}

.info {
	font-family: Khula, sans-serif;
	padding-inline: 246px 216px;
}

.info__title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
}

.info__text {
	width: 717px;
	margin-bottom: 30px;
}

.info__link {
	color: grey;
	transition: all .3s ease;
}

.info__link:hover {
	color: #000;
	text-decoration: underline;
}

/*Subscribe*/

.subscibe {
	padding-inline: 270px 123px;
}

.subscibe__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 44px 64px;
	margin-bottom: 126px;
	background-color: #F5F5F5;
	text-align: center;
}

.subscribe__title {
	margin-bottom: 31px;
	font-family: Khula, sans-serif;
	font-size: 32px;
}

.suscribe__text {
	margin-bottom: 31px;
	font-family: Khula, sans-serif;
	font-size: 13px;
}

.subscribe__form {
	display: flex;
	margin-bottom: 32px;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

.subscribe__label {
	width: 100%;
}

.subscribe__input {
	box-sizing: border-box;
	width: 200px;
	color: #828282;
	margin-right: 94px;
	padding-block: 22px;
	text-align: center;
}

.subscribe__btn {
	width: 200px;
	background-color: #000;
	color: #fff;
	padding-block: 22px;
	padding-inline: 33px;
}

.suscribe__policy {
	color: #828282;
	font-weight: 300;
	font-size: 8px;
}

.subscribe__link {
	text-decoration: underline;
	transition: color .3s ease;
}

.subscribe__link:hover {
	color: #000;
}

/*Footer*/

.footer {
	padding-left: 270px;
}

.footer__info {
	display: flex;
	column-gap: 302px;
	margin-bottom: 147px;
}

.footer__link{
	transition: text-decoration .3s ease;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__item {
	margin-bottom: 25px;
	font-weight: 300;
	font-size: 15px;
}

.footer__item h3 {
	font-size: 16px;
}

.footer__links {
	display: flex;
	align-items: center;
	margin-bottom: 61px;
}

.footer__social {
	display: flex;
	column-gap: 50px;
	margin-right: 184px;
}

.footer__button-link {
	display: inline-block;
}

.footer__button.apple {
	width: 137px;
	height: 42px;
	background-image: url('images/main/Apple.png');
	margin-right: 184px;
}

.footer__button.google {
	width: 215px;
	height: 43px;
	background-image: url('images/main/Google.png');
}

/*Cart*/

.cart-logo {
	position: absolute;
	top: -13%;
	text-align: center;
	font-family: Megrim, sans-serif;
	font-size: 608px;
	color: #6D6D6D;
	opacity: .1;

}

.cart {
	padding: 25px 14px;
	background: none;
}

.burger-cart {
	padding-left: 31px;
}

.body-cart {
	margin-top: 114px;
	display: flex;
	font-family: Montserrat, sans-serif;
}

.body-cart__title {
	margin-top: 230px;
	font-weight: 200;
	font-size: 65px;
	transform-origin: 0 0;
	transform: rotate(-90deg);
}

.body-cart__content {
	text-align: center;
	font-weight: 400;
}

.body-cart__state {
	font-size: 30px;
	margin-bottom: 17px;
}

.body-cart__text {
	font-size: 20px;
	margin-bottom: 19px;
}

.body-cart__shopping {
	padding-bottom: 3px;
	font-size: 25px;
	opacity: .6;
	border-bottom: 1px solid #000;
	transition: border-bottom .3s ease;
}

.body-cart__shopping:hover {
	border-bottom: 0;
}

/*Favourite*/

.header-favourite {
	display: flex;
	align-items: center;
}

.inner-favourite {
	margin-top: 14px;
	align-items: center;
	padding-inline: 45px 371px;
	background: none;
}

.inner-favourite__wrapper {
	display: flex;
}

.logo-favourite {
	font-family: Megrim, sans-serif;
	font-size: 50px;
}

.favourite__title {
	margin-top: -3px;
	font-family: Roboto, sans-serif;
	font-size: 50px;
	font-weight: 300;
}

.favourite__content {
	text-align: center;
	margin-bottom: 104px;
}

.favourite__state {
	font-family: Roboto, sans-serif;
	font-weight: 300;	
	font-size: 30px;
	margin-bottom: 11px;
}

.favourite__text {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 47px;
	color: rgba(0, 0, 0, .7);
}

.favourite__shopping {
	padding-bottom: 4px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, .6);
	color: rgba(0, 0, 0, .6);
	transition: all .3s ease;
}

.favourite__shopping:hover {
	border-bottom: none;
	color: #000;
}

.popular {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	text-align: center;
	margin-bottom: 185px;
	padding-inline: 13.88888vw;
}

.popular__title {
	margin-bottom: 63px;
	font-size: 35px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
	font-size: 12px;
	text-align: left;
}

.card__item {
	display: block;
	transition: box-shadow .3s ease;
}

.card__item:hover {
	box-shadow: 0 0 6px 3px rgba(0,0,0,.5);
}

.card__pic {
	margin-bottom: 15px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card__name {
	margin-bottom: 7px;
}

/*Search*/

.search-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 32px;
}

.search-input{
	position: relative;
	width: 700px;
	padding-left: 41px;
	padding-block: 11px;
	border-radius: 30px;
	outline: 1px solid rgba(0, 0, 0, .2);
}

.search-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.shadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
}

/*Authorization*/

.auth-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: Megrim, sans-serif;
	z-index: 100;
}

.auth-popup__content {
	position: relative;
	box-sizing: border-box;
	width: 600px;
	padding-block: 30px 115px;
	padding-inline: 125px;
	background-color: #fff;
}

.auth-popup__title {
	font-size: 40px;
	margin-bottom: 22px;
}

.auth-popup__enter {
	font-size: 20px;
	margin-bottom: 41px;
}

.auth-popup__list {
	display: flex;
	justify-content: center;
	column-gap: 35px;
	margin-bottom: 41px;
}

.auth-popup__sela {
	font-size: 20px;
	margin-bottom: 31px;
}

.auth-popup__sela span {
	opacity: .8;
}

.auth-popup__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-popup__ways {
	font-size: 20px;
	margin-bottom: 30px;
	color: rgba(0, 0, 0, .5);
}

.auth-popup__way:not(:last-child) {
	margin-right: 96px;
}

.auth-active {
	color: #000;
}

.auth-popup__input {
	width: 349px;
	padding-left: 14px;
	padding-block: 12px;
	outline:1px solid rgba(0, 0, 0, .2);
}

.auth-popup__input:focus-visible {
	outline: 2px solid #000;
}

.auth-popup__input:not(:nth-last-of-type(1)) {
	margin-bottom: 41px;
}

.auth-popup__input:last-of-type {
	margin-bottom: 23px;
}

.auth-popup__forget-pas {
	display: block;
	align-self: start;
	font-size: 14px;
	margin-bottom: 42px;
}

.auth-popup__btn {
	width: 220px;
	padding-block: 7px;
	background-color: #000;
	font-size: 30px;
	color: #fff;
	margin-bottom: 11px;
}

.auth-popup__ua {
	font-size: 10px;
}

.auth-popup__agree a {
	text-decoration: underline;
}

.close-btn {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
}

/*Ordering*/

.header-ordering {
	position: relative;
	display: flex;
	padding: 38px 59px;
	justify-content: center;
	margin-bottom: 88px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.header-ordering__logo {
	position: absolute;
	left: 59px;
	font-family: Megrim, sans-serif;
	font-weight: 400;
	font-size: 50px;
}

.header-ordering__title {
	font-weight: 300;
	font-size: 50px;
}

.main-odering {
	display: flex;
	flex-direction: column;
	padding-left: 19.375vw;
	padding-bottom: 137px;
	font-size: 30px;
	font-weight: 300;
}

.basic {
	margin-bottom: 104px;
}

.basic__form {
	display: flex;
	flex-direction: column;
	row-gap: 49px;
}

.basic__label {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.delivery {
	margin-bottom: 99px;
}

.delivery__category {
	margin-bottom: 44px;
}

.delivery__block:first-of-type {
	margin-bottom: 20px;
}

.delivery__block:nth-of-type(2) {
	margin-bottom: 6px;
}

.delivery__conditions {
	margin-bottom: 25px;
}

/*Address*/

.address {
	margin-bottom: 144px;
}

.address__label {
	display: flex;
	column-gap: 12px;
}

.address__input {
	display: block;
}

.input-short {
	display: inline-block;
	width: 260px;
	margin-top: 25px;
}

.input-short:nth-child(2) {
	margin-right: 11px;
}

/*Payment*/

.payment {
	margin-bottom: 57px;
}

.payment__category {
	margin-bottom: 52px;
}

.payment__block {
	margin-bottom: 6px;
}

.payment__block:first-of-type {
	margin-bottom: 32px;
}

.payment__conditions {
	margin-bottom: 26px;
}

/*Making an order*/

.making-an-order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 760px;
	padding-block: 41px 22px;
	padding-inline: 51px 130px;
	background-color: #EEEEEE;
	box-sizing: border-box;
}

.making-an-order__info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 28px;
	margin-bottom: 26px;
}

.sum {
	font-weight: 500;
	margin-bottom: 24px;
}

.making-an-order__promo {
	display: flex;
	align-items: center;
	margin-bottom: 33px;
}

.making-an-order__input {
	width: 310px;
	margin-right: 33px;
	padding-left: 18px;
	padding-block: 7px;
	outline: 1px solid #a6a6a6;
	background-color: inherit;
}

.making-an-order__btn-promo {
	width: 128px;
	padding-block: 12px 14px;
	font-size: 20px;
	background-color: #000;
	color: #fff;
}

.making-an-order__btn {
	width: 380px;
	margin: 0 auto;
	padding-block: 12px 13px;
	background-color: #30AA52;
	font-weight: 400;
	font-size: 28px;
}

/*For Her*/

.forher {
	display: flex;
	padding-inline: 4.513888vw 8.472222vw;
	column-gap: 21px;
}

.filter-menu {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 23px;
}

.filter-menu__button {
	width: 178px;
	display: flex;
	column-gap: 12px;
	padding-left: 16px;
	padding-block: 11px 12px;
	background-color: #252525;
	color: #fff;
	margin-bottom: 58px;
}

.filter-menu__item:not(:last-child) {
	margin-bottom: 27px;
}

.forher__card {
	column-gap: 65px;
	row-gap: 69px;
	margin-bottom: 127px;
}

.card__inner {
	transition: box-shadow .3s ease;
}

.card__inner:hover {
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, .5);
}

.forher__card .card__item:hover {
	box-shadow: none;
}

.card__colors {
	display: flex;
	column-gap: 6px;
	margin-top: 7px;
}

.card__color {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-sizing: border-box;
}

.gray-stroke {
	background-color: #EFEBE0;
	border: 1px solid #000;
}

.black-1 {
	background-color: #252525;
}

.beige {
	background-color: #FFE4B5;
}

.lilac {
	background-color: #572F6F;
}

.white-stroke {
	background-color: #FFFFF1;
	border: 1px solid #000;
}

.black-2 {
	background-color: #252026;
}

.laurel-stroke {
	background-color: #7D9478;
	border: 1px solid #000;
}

.gray {
	background-color: #E1D9CC;
}

.black-3 {
	background-color: #130E14;
}

.green {
	background-color: #397153;
}

.seagull {
	background-color: #73BDE4;
}

.hibiscus {
	background-color: #B32561;
}

.green-stroke {
	background-color: #48B531;
	border: 1px solid #000;
}

.royal-blue {
	background-color: #4743F4;
}

.black {
	background-color: #000000;
}

.pelorous {
	background-color: #34B5B5;
}

.alizarin-crimson {
	background-color: #E11E31;
}

.chartreuse {
	background-color: #7FFF00;
}

.yellow {
	background-color: #FFFF00;
}

.forher__pagination {
	position: static;
	left: 115px;
	bottom: 48px;
	display: flex;
	justify-content: center;
	column-gap: 55px;
	width: 100%;
	margin-bottom: 127px;
	font-family: Montserrat, sans-serif;
	font-size: 23px;
}

.fa-solid {
	font-size: 23px;
}

.fa-chevron-left {
	color: #000;
}

.fa-chevron-right {
	color: #000;
}