@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Khula:regular,700&display=swap);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Roboto;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul li {
	list-style: none;
}

h1 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	font-size: inherit;
}

input {
	font-size: inherit;
}

/*Header*/

.header {
	margin-bottom: 69px;
}

.header__inner {
	position: relative;
	padding-block: 8px 38px;
	padding-inline: 70px 20px;
	margin-right: 70px;
	background: url('images/main/preview.png') center/cover no-repeat;
}

#header__toggle {
	opacity: 0;
}

.header__btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 70px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1;
}

.header__btn > span,
.header__btn > span::before,
.header__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}

.header__btn > span::before {
	content: '';
	top: -8px;
}

.header__btn > span::after {
	content: '';
	top: 8px;
}

.menu__logo {
	max-width: 344px;
	margin-left: 42px;
}

.header__name {
	max-width: 581px;
	margin-top: 40px;
	margin-left: 995px;
	font-family: Roboto, sans-serif;
	font-weight: 600;
	font-size: 180px;
	color: #D8D8D8;
	transform-origin: center;
	transform: rotate(90deg);
	margin-bottom: 310px;
}

.header__address {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 19px;
}

.header__city {
	margin-bottom: 27px;
}

.pagination {
	position: absolute;
	left: 115px;
	bottom: 48px;
	display: flex;
	justify-content: center;
	column-gap: 55px;
	width: 100%;
}

.dot:not(:nth-last-child(2)) {
	margin-right: 42px;
}

.fa-solid {
	color: #fff;
	font-size: 20px;
}

.pagination__dot {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	transition: background-color .3s linear;
}

.pagination__dot:hover {
	background-color: #fff;
}

.selected {
	background-color: rgba(255, 255, 255, 1);
}

.aside {
	position: absolute;
	top: 22px;
	right: 25px;
}

.aside__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 46px;
}

/*About*/

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 99px;
}

.pictures {
	margin-bottom: 103px;
}

.pictures__item:not(:nth-last-of-type(1)) {
	margin-right: 27px;
}

.info {
	font-family: Khula, sans-serif;
	padding-inline: 246px 216px;
}

.info__title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
}

.info__text {
	width: 717px;
	margin-bottom: 30px;
}

.info__link {
	color: grey;
	transition: all .3s ease;
}

.info__link:hover {
	color: #000;
	text-decoration: underline;
}

/*Subscribe*/

.subscibe {
	padding-inline: 270px 123px;
}

.subscibe__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 44px 64px;
	margin-bottom: 126px;
	background-color: #F5F5F5;
	text-align: center;
}

.subscribe__title {
	margin-bottom: 31px;
	font-family: Khula, sans-serif;
	font-size: 32px;
}

.suscribe__text {
	margin-bottom: 31px;
	font-family: Khula, sans-serif;
	font-size: 13px;
}

.subscribe__form {
	margin-bottom: 32px;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

.subscribe__input {
	width: 200px;
	color: #828282;
	margin-right: 94px;
	padding-block: 22px;
}

.subscribe__btn {
	width: 200px;
	background-color: #000;
	color: #fff;
	padding-block: 22px;
}

.suscribe__policy {
	color: #828282;
	font-weight: 300;
	font-size: 8px;
}

.subscribe__link {
	text-decoration: underline;
	transition: color .3s ease;
}

.subscribe__link:hover {
	color: #000;
}